{{- $base := .Get "id" | default "samples" -}}
{{- $type := .Get "type" -}}
{{- $hasCount := or (eq $type "normal") (eq $type "lognormal") (eq $type "sigmoid") -}}
{{- $logMode := "" -}}
{{- if eq $type "lognormal" -}}
  {{- $logMode = "x-only" -}}
{{- else if eq $type "preferential-attachment" -}}
  {{- $logMode = "both-together" -}}
{{- end -}}

{{ partial "simulation-layout.html" (dict "base" $base "hasCount" $hasCount "logMode" $logMode) }}

<script type="module">
  import { initGenerateSamples } from "/js/teaching-visuals.js";
  initGenerateSamples("{{ $base }}", "{{ $type }}");
</script>
