{{- $id := .Get "id" | default "homevalues" -}}

<div class="static-chart-wrapper">
  <div class="static-chart-controls">
    <label>
      <input type="checkbox" id="{{ $id }}-log"> Log x-axis
    </label>
  </div>
  <div class="static-chart-container" id="{{ $id }}"></div>
  <div class="static-chart-source">Source: HM Land Registry Price Paid Data, England & Wales (2024)</div>
</div>

<script type="module">
  import { initHomeValues } from "/js/teaching-visuals.js";
  initHomeValues("{{ $id }}", "{{ $id }}-log");
</script>
